<% provide :title, t(".title")  %>
<h1><%= t(".title") %></h1>
<p>
  <%= link_to t("static_pages.array_language.lgeng"), locale:"en" %>
  <%= link_to t("static_pages.array_language.lgvn"), locale:"vi" %>
  <br>
  <%= t ".p1" %>
  <%= link_to t("Ruby on Rails"),
    "https://www.railstutorial.org" %> <%= t ".p2" %>
  <%= link_to t(".book"), "https://www.railstutorial.org/book" %>
  <%= t ".p3" %>
  <%= link_to t(".ss"), "http://screencasts.railstutorial.org/" %>
  <%= t ".p4" %>
  <%= link_to t("static_pages.about.Ru_on_Ra"), "http://rubyonrails.org/" %>
  <%= t ".p5" %>
</p>
