<% provide :title, t(".title") %>
<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render "shared/user_info" %>
      </section>
      <section class="micropost_form">
        <%= render "shared/micropost_form" %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3><%= t ".micropost_feed" %></h3>
      <%= render "shared/feed" %>
    </div>
  </div>
<% else %>
<div class="center jumbotron">
  <h1><%= t ".title" %></h1>
  <p>
    <%= link_to t("static_pages.array_language.lgeng"), locale: Settings.en %>
    <%=link_to t("static_pages.array_language.lgvn"), locale: Settings.vn %>
    <br>
    <%= t ".p1" %>
    <%= link_to t("static_pages.rort"), Settings.link1 %>
    <%= t ".p2" %>
  </p>
  <%= link_to t(".button"), signup_path, class: "btn btn-lg btn-primary" %>
</div>
<%= link_to image_tag(Settings.railspng, alt: t("rails_logo")), Settings.link1 %>
<% end %>
