<footer class="footer">
  <small>
    <%= t "footer.p1" %>
    <%= link_to t("Ruby on Rails"), "https://www.railstutorial.org" %>
    <%= t "footer.p2" %>
    <%= link_to t("Michael Hartl"), "http://www.michaelhartl.com/" %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("nav.About"), about_path %></li>
      <li><%= link_to t("nav.Contact"), contact_path %></li>
      <li><%= link_to t("nav.News"), "http://news.railstutorial.org/" %></li>
    </ul>
  </nav>
</footer>
