<footer class="footer">
  <small>
    <%= t "footer.p1" %>
    <%= link_to t("ror"), Settings.link1 %>
    <%= t "footer.p2" %>
    <%= link_to t("michael_hartl"), Settings.link3 %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("nav.about"), about_path %></li>
      <li><%= link_to t("nav.contact"), contact_path %></li>
      <li><%= link_to t("nav.news"), Settings.link2 %></li>
    </ul>
  </nav>
</footer>
